.template {
  display: none;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: aqua;
  color: red;
}

* {
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.shows {
  background-color: dodgerblue;
  padding: 10px;
  flex: 20%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
